---
import { FOOTER_LINKS } from '@/consts';
---

<footer class="center container flex h-20 w-full items-center justify-between">
  <div class="text-md flex space-x-2 font-semibold">
    {
      FOOTER_LINKS.LEFT.map((ITEM) => (
        <a class="p-2 underline-offset-4 hover:underline" href={ITEM.HREF}>
          {ITEM.TITLE}
        </a>
      ))
    }
  </div>
  <div class="text-md flex space-x-2 font-semibold">
    {
      FOOTER_LINKS.RIGHT.map((ITEM) => (
        <a class="p-2 underline-offset-4 hover:underline" href={ITEM.HREF}>
          {ITEM.TITLE}
        </a>
      ))
    }
  </div>
</footer>
